<!--
    Todo:
    - cache results
    - button, trayicon-menu, shortcut to invalidate cache
    - router
-->
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>nivo</title>
        <link x-href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="node_modules/github-markdown-css/github-markdown.css" />
        <style type="text/css">
            
            html, body { h_eight: 100%; }
            body { padding: 10px; background: transparent; outline: 1px solid #ccc; }
            /* reset */
            * {
                margin: 0; padding: 0; outl_ine: 1px dashed blue;
            }
            *, *:before, *:after {
                box-sizing: border-box;
            }
            *:focus { outline: none; }
            ul { list-style-type: none; }

            /*scrollbar*/
            *::-webkit-scrollbar-corner {
                background-color: transparent;
            }
            *::-webkit-scrollbar {
                width: 5px; height: 9px;
            }

            *::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.2); -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
            }

            /* generals */
            html, body {
                height: 100%; font-size: 1px;
            }
            body {
                font-family: 'Roboto', sans-serif; 
                font-size: 16rem;
            }
            a { text-decoration: none; }

            context-menu div:first-child { overflow: hidden; height: 30rem; font-size: 14rem; color: #EB5424; padding: 9rem 12rem;; }
            context-menu { position: absolute; top: 75rem; bottom: 40px; left: 20px; right: 20px; bottom: 20px; background: rgba(0,0,0,0.8); }
            context-menu ul { height: 100% - 30rem ); overflow-y: auto; padding: 10rem 0; }
            context-menu ul li a { display: block; color: #fff; padding: 0 10rem; }
            context-menu ul li a:hover { background: #555; }
            context-menu ul li a:focus { background: #999; }

            .markdown-body { padding: 30rem; }
        </style>
    </head>

    <body ng-controller="AppCtrl">

        <main-view>
        </main-view>

        <script> "use strict";

            let angular = require('angular');
            
            let app = angular.module('app', []);

            let gui = require('nw.gui'); 

            app.value('nw', window.nw);
            app.value('node_path', require('path'));
            app.value('nw_gui', require('nw.gui'));
            app.value('fs', require('fs'));
            app.value('win', gui.Window.get());

            let MarkdownIt = require('markdown-it'),
                md = new MarkdownIt();
            app.value('md', md);

            /**
             * Filter to render the markdown we mainly use in the detailview
             */
            app.filter('markdown', function () {
                return function (item) {
                    let content;

                    try {
                        content = md.render(item);
                    } catch (exception) {
                        content = '';
                    }

                    return content;
                };
            });

            /**
             * Filter to explicitly trust content as html which we mainly use in the detailview
             */
            app.filter('trustHtml', ['$sce', function($sce) {
                return function(htmlCode) {
                    return $sce.trustAsHtml(htmlCode);
                }
            }]);

            /**
             * Provides the credentials we need to authenticate a service user to gain access
             * to the worksheet the data is being stored
             */
            app.provider('credentials', [function() {

                this.path = null;

                /**
                 * Load the credentials file
                 */
                let Credentials = function(path, filesystem) {
                    // the path to the credentials file
                    this.path = path;

                    this.filesystem = filesystem;
                }

                Credentials.prototype.load = function() {
                    let path = this.path;

                    if (!this.filesystem.existsSync(path)) {
                        throw 'File "' + path + '" containing the credentials was not found';
                    }
                    
                    return this.filesystem.readFileSync(path, 'utf8');
                }

                this.$get = function(fs){
                    return new Credentials(this.path, fs).load();
                }
            }])

            ////////////////////////////////////////////////////////////////////////////////////
            //// #FEATURE HANDLER
            ////////////////////////////////////////////////////////////////////////////////////

            app.provider('features', function(){
                let featurelist = {};
                //let featurelist = new Map();

                this.registerFeature = function(feature){
                    // featurelist.push(feature.cmd, {
                    //  cmd: feature.cmd,
                    //  action: function(){ feature.instance.process.apply(feature.instance, arguments) },
                    //  title: feature.title
                    // });

                    // return;
                    featurelist[feature.cmd] = {
                        cmd: feature.cmd,
                        action: function(){ feature.instance.process.apply(feature.instance, arguments) },
                        title: feature.title
                    };
                };

                this.$get = function(){

                    let Features = function(featurelist){
                        this.featurelist = featurelist;
                    };

                    Features.prototype.getAllForPath = function(path){
                        // return this.featurelist.filter(function(feature){
                        //  return feature.canProcess(path);
                        // });
                        return this.featurelist;
                    };

                    Features.prototype.hasFeature = function(feature_name){
                        return this.featurelist[feature_name] !== undefined;
                    }

                    return new Features(featurelist);
                }
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #INPUT ROUTER
            ////////////////////////////////////////////////////////////////////////////////////

            app.provider('inputRouter', function(){
                let routes = [];

                this.register = function(regex, handler){
                    routes.push({rule: regex, handler: handler});
                }

                this.$get = ['features', function(features){
                    let InputRouter = function(routes){
                        this.routes = routes || [];
                    }

                    InputRouter.prototype.handle = function(input, directory, cache, scope){
                        var
                            resultList = [],
                            matches = null;

                        // find and call appropriate route for passed input
                        for(let i = 0; i < this.routes.length; i++){
                            let route = this.routes[i];
                            if(matches = input.match(route.rule)){
                                resultList = route.handler.call(null, input, directory, cache, matches, scope, features);
                                break;
                            }
                        }

                        return resultList;
                    }

                    InputRouter.prototype.register = function(regex, handler){
                        this.routes.push({rule: regex, handler: handler});
                    };

                    return new InputRouter(routes);
                }]
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #DATASOURCE
            ////////////////////////////////////////////////////////////////////////////////////

            app.provider('dataSource', function() { 
                let DataSource = function(credentials){
                    this.useMock = !true;
                    this.credentials = credentials;
                    this.gsjson = require('google-spreadsheet-to-json');
                };

                DataSource.prototype.retreive = function() {
                    if (this.useMock) {
                        return this.getDummyData();
                    } else {
                        return this.getData()
                    }
                };

                DataSource.prototype.getDummyData = function() {
                    let worksheetA = [
                        {"title":"golem","tags":"it news, bookmark","content":"http://golem.de"},
                        {"title":"heise","tags":"it news","content":"http://heise.de"}
                    ];

                    let worksheetB = [
                        {"title":"golem","tags":"it news","content":"http://golem.de"},
                        {"title":"heise","tags":"it news","content":"http://heise.de"}
                    ];

                    let commandsSheet = [
                        {"title":":open workspace","tags":"","content":"pwd"}
                    ];

                    let worksheets = [worksheetA, worksheetB, commandsSheet];

                    return new Promise(function(resolve, reject) {
                        resolve(worksheets);
                    });
                };

                DataSource.prototype.getData = function() {
                    return this.gsjson({
                        spreadsheetId: '1FHs5ZsplYJBozmxYNaD7dVt8iyJQV7SGhoRP94tvKHo',
                        credentials: this.credentials,
                        allWorksheets: true
                    })
                };

                this.$get = ['credentials', function(credentials) {
                    return new DataSource(credentials);
                }];
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #CONTEXT MENU
            ////////////////////////////////////////////////////////////////////////////////////

            app.directive('contextMenu', ()=>{
                return {
                    controller: function($scope, $element, features){
                        let path_current = null;
                        /**
                         * Provides the menu to the view
                         * @param  string path The path we are about to present the contextmenu for
                         * @return void
                         */
                        $scope.showMenu = function(path){
                            $scope.working_directory = path;

                            path_current = path;
                            let menu = features.getAllForPath(path);

                            if(menu.length === 0) return;

                            $scope.menu = menu;
                            focusFirstAction();
                        }

                        $scope.closeMenu = function(){
                            $scope.menu = null;
                        }

                        $scope.perform  = function(action){
                            action(path_current);
                            $scope.closeMenu();
                        }

                        function focusFirstAction(){
                            setTimeout(function(){
                                $element[0].querySelector('li:first-child a').focus();
                            });
                        }
                    },
                    link: function(scope){
                        /*
                         * TODO: toggle class 'active' for item at hand on open/close menu so user still recognizes the item we are presenting the context menu for
                         */
                        // open contextmenu on [ctrl+enter]
                        document.addEventListener('keydown', function(e){
                            if(e.ctrlKey && e.code === 'Enter'){
                                e.preventDefault();

                                let target = document.activeElement;
                                if(target.classList.contains('finderview__item')){
                                    let path = target.title;
                                    scope.showMenu(path);
                                    scope.$apply();
                                }
                            }
                        });
                        // open contextmenu on right mouse click
                        document.addEventListener('contextmenu', function(e) {
                            if(e.target.classList.contains('finderview__item')) {
                                e.preventDefault();
                                let path = e.target.title;
                                scope.showMenu(path);
                                scope.$apply();
                            }

                            return false;
                        });

                        document.addEventListener('keydown', function(e){
                            if(e.code === 'Escape'){
                                scope.closeMenu();
                                scope.$apply();
                            }
                        });
                    }
                }
            });

            app.provider('NativeWindowService', function() {
                /**
                 * Update the size of the native view
                 */
                class NativeWindowService {
                    constructor(win, screenSize) {
                        this.win = win;
                        this.screenSize = screenSize;
                    }

                    /**
                     * Update size of view and center the window in the screen
                     */
                    applySize(width, height) {
                        this.win.width = width;
                        this.win.height = height;
                        this.win.x = Math.floor((this.screenSize.width - width) / 2);
                        this.win.y = Math.floor((this.screenSize.height - height) / 2);
                    }
                }
                
                this.$get = function() {
                    nw.Screen.Init();
                    let screenSize = nw.Screen.screens[0].work_area;
                    let win = nw.Window.get();
                
                    return new NativeWindowService(win, screenSize);
                }
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #MAIN VIEW
            ////////////////////////////////////////////////////////////////////////////////////

            app.component('mainView', {
                template: `
                    <main>   
                        <finder-view
                            class="finderview" 
                            finderview-instance-id="finderId" 
                            foobar="$ctrl.foo" 
                            on-entry-select="$ctrl.setEntry(entry)">
                        </finder-view>

                        <detail-view entry="$ctrl.selectedEntry"></detail-view>
                    </main>
                `,
                controller: ['$scope', 'NativeWindowService', function($scope, nativeWindowService){
                    
                    let vm = this,
                        styles = `
                            main-view { display: block; widht: 100%; height: 100%; overflow: hidden; box-shadow: 0px 0 10px #000; }
                            main { position: relative; height: 100%; overflow: scroll; background: #f7f7f7; }
                            main::-webkit-scrollbar { display: none; }
                        `;
                        
                    vm.selectedEntry = null;

                    vm.setEntry = setEntry;
                    vm.$onInit  = $onInit;

                    function $onInit() {

                        initStyles();
                        
                        resetEntry();

                        document.body.addEventListener('keydown', function(e) { 

                            if (vm.selectedEntry === null) {
                                return;
                            }

                            if (e.key !== 'Escape') {
                                return;
                            }

                            console.log('ESC MAIN VIEW');
                            e.stopImmediatePropagation();

                            resetEntry();
                            $scope.$apply();
                        });

                    }

                    /**
                     * Append styles for this component to the dom
                     */
                    function initStyles() {
                        let styleElement = document.createElement('style');
                        styleElement.innerHTML = styles;
                        document.head.appendChild(styleElement);
                    }

                    /**
                     * Apply the window size to be small enough to display the finderview
                     */
                    function applyFinderSize() {
                        nativeWindowService.applySize(600, 400);
                    }

                    /**
                     * Apply the window size to be big enough to display the detailview
                     */
                    function applyDetailviewSize() {
                        nativeWindowService.applySize(800, 800);
                    }

                    /**
                     * Ensure no entry is selected
                     */
                    function resetEntry() {
                        vm.setEntry(null);
                    }

                    /**
                     * Assign an entry and update window size accordingly
                     */
                    function setEntry(entry) {
                        if (entry === null) {
                            applyFinderSize();
                        } else {
                            applyDetailviewSize();
                        }

                        vm.selectedEntry = entry;
                    }
                }]
            })


            ////////////////////////////////////////////////////////////////////////////////////
            //// #FINDER VIEW
            ////////////////////////////////////////////////////////////////////////////////////

            app.component('finderView', {
                template: `
                    <div>
                        <form ng-submit="$ctrl.submitSearch()">
                            <i class="fa fa-search"></i>
                            <input type="text" placeholder="Search..." ng-model="$ctrl.querystring" />
                        </form>
                    </div>
                    <ul>
                        <li ng-repeat="(i, node) in $ctrl.viewResultList" ng-class="{'selected': $ctrl.selectedIndex === i}" title="{{$ctrl.selectedIndex}} - {{i}}">
                            <a href="#"  
                                ng-click="$ctrl.selectEntry(node); $ctrl.setSelectedIndex(i);"  
                                class="finderview__item">
                                
                                <span>
                                    <i class="fa fa-sticky-note-o"></i>
                                    {{node.title}}
                                </span>
                                
                                <ul class="tags" ng-If="node.tags">
                                    <li ng-repeat="tag in $ctrl.explodeTags(node.tags)">
                                        {{tag}}
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                `,
                bindings:{
                    finderviewInstanceId: "=", // unique id for the localStorage,
                    onEntrySelect: "&",
                    foobar: "="
                },
                controller: function(inputRouter, dataSource, $scope, $element){

                    let vm = this;
                    /**
                     * {object|undefined} The data fetched by the dataSource
                     */
                    let data = undefined;

                    /**
                     * {int} The index of the currently highlighted list-item in the finderview 
                     */
                    vm.selectedIndex = 0;

                    /**
                     * {DomElement|undefined} userinput-field for the querystring we utilize to filter the output
                     */
                    let $input = undefined;
                    
                    /**
                     * Those styles get appended to the head only once
                     */
                    let styles = `
                        <style id="finderViewStyles">
                            .finderview { display: block; height: 100%; overflow: hidden;}
                            .finderview > ul { height: calc(100% - 40rem); overflow-y: auto; }
                            .finderview > ul > li { white-space: nowrap; text-overflow: ellipsis; width: 100%; overflow: hidden; background: rgba(255,255,255,0.1); }
                            .finderview > ul > li a { display: block; padding: 6rem 10rem; color: #555; border-left: 5px solid transparent; }
                            .finderview > ul > li:nth-child(even) a { background: rgba(0,0,0,0.04); }

                            .finderview > ul > li a:hover { background: rgba(0,0,0,0.2); }
                            .finderview > ul > li.selected a { background: rgba(0,0,0,0.5); border-left-color: #5fba7d; color: #fff; }
                            
                            
                            .finderview > ul > li a span { display: block; margin: 0 0 10rem; }
                            .finderview > ul > li a span:last-child { margin: 0; }

                            .finderview > div:first-child { position: relative; overflow: hidden; height: 40rem; }

                            /* searchform */
                            .finderview form { position: relative; height: 40rem; }
                            .finderview form i.fa { width: 50rem; font-size: 20rem; line-height: 39rem; text-align: center; color: #9fa2b5; color: #5fba7d; }
                            .finderview form input[ng-model="$ctrl.querystring"] {
                                position: absolute; top: 0; left: 0; 
                                display: block; width: 100%; height: 40rem; padding: 6rem 16rem 6rem 46rem; 
                                font-size: 14rem; line-height: 1.42857143; border: none; border-bottom: 1px solid #ddd; color: #333; color: #428257; background: transparent; 
                            }
                            .finderview form input[ng-model="querystring"]::-webkit-input-placeholder { color: #333; }

                            .finderview ul.tags li { display: inline-block; margin: 0 7rem 0 0; padding: 5rem 6rem; font-size: 12px; background: #E1ECF4; color: #39739d; }
                        </style>
                    `;

                    /**
                     * the list of results presented in the view
                     */
                    vm.viewResultList = [];

                    vm.focusInput        = focusInput;
                    vm.processUserInput  = processUserInput;
                    vm.selectFocusedNode = selectFocusedNode;
                    vm.submitSearch      = selectFocusedNode;
                    vm.selectNext     = selectNext;
                    vm.selectPrevious = selectPrevious;
                    vm.selectEntry       = selectEntry;
                    vm.setSelectedIndex  = setSelectedIndex;

                    this.$onInit = function() {

                        $input = $element[0].querySelector('[ng-model="$ctrl.querystring"]');
                        
                        focusInput();

                        // fetch data
                        dataSource
                            .retreive()
                            .then(function(fetchedData) {
                                console.log(fetchedData)
                                // TODO: remove loading indicator

                                // merge list of arrays into one array
                                // Array.prototype.concat.apply([], [[1], [2], [3]])
                                data = Array.prototype.concat.apply([], fetchedData);
                                
                                vm.viewResultList = data;

                                $scope.$apply();
                            }, function(err) {
                                console.log(err);
                            });

                        // handle [UP] and [DOWN] keys
                        $element[0].addEventListener('keydown', function(e){
                            if (e.keyCode === 16) return; // shiftleft + shiftright
                            if (e.code === 'Tab') return; // Tab is used natively
                            if (e.code === 'Enter') return; // prevent form from being submitted (To be honest, I dont relly know why the form should get submitted but it does so when we do not return here..)

                            if (e.keyCode === 38) { // up
                                e.preventDefault(); // prevent from triggering scrolling the scrollbar
                                vm.selectPrevious();
                            } else if(e.keyCode === 40) { // down
                                e.preventDefault(); // prevent from triggering scrolling the scrollbar
                                vm.selectNext();
                            } else if(e.keyCode === 39) { // right
                                vm.selectFocusedNode();
                            } else if(e.which !== 0 && !e.ctrlKey && !e.metaKey && !e.altKey) { // handle all printable characters
                                vm.focusInput();
                            }

                            $scope.$apply();
                        });

                        $scope.$watch('$ctrl.querystring', vm.processUserInput);

                        $scope.$watch('$ctrl.selectedIndex', focusSelectedNode);

                        // insert CSS only once
                        if(document.querySelector('#finderViewStyles') === null){
                            document.head.insertAdjacentHTML( 'beforeend', styles );
                        }
                    }
                    
                    /**
                     * Explode a string by delimiter ',' and trim whitespace afterwards for all exploded nodes
                     */
                    vm.explodeTags = function(tags) {
                        return tags
                            .split(',')
                            .map(function(tag) { 
                                return tag.trim(); 
                            });
                    }

                    ////////////////////////////////////////////////////////////////////////////////////
                    //// #QUERY-INPUT FIELD
                    ////////////////////////////////////////////////////////////////////////////////////

                    function focusInput() {
                         $input.focus();
                    }

                    function resetSelectedIndex() {
                        vm.selectedIndex = 0;
                    }

                    function setSelectedIndex(index) {
                        vm.selectedIndex = index;
                    }

                    function processUserInput(new_value, old_value) {
                        if(new_value === old_value) return;

                        let resultList = inputRouter.handle(new_value, data);

                        if(resultList !== null){
                            vm.viewResultList = resultList;
                            resetSelectedIndex();
                        }
                    }

                    ////////////////////////////////////////////////////////////////////////////////////
                    //// #CONTROLS SELECT
                    ////////////////////////////////////////////////////////////////////////////////////

                    function selectFocusedNode() {
                        let focusedEntry = vm.viewResultList[vm.selectedIndex];
                        
                        selectEntry(focusedEntry);
                    }

                    function selectEntry(entry) {

                        // TODO: Feature-Routing :)
                        // cmdOpenWorkspace();
                        
                        vm.onEntrySelect({entry: entry});
                    }

                    ////////////////////////////////////////////////////////////////////////////////////
                    //// #CONTROLS UP/DOWN
                    ////////////////////////////////////////////////////////////////////////////////////

                    function selectNext() {
                        let length = vm.viewResultList.length;
                        vm.selectedIndex = (vm.selectedIndex + 1) % vm.viewResultList.length;

                        focusSelectedNode();
                    }

                    function selectPrevious() {
                        let length = vm.viewResultList.length;
                        vm.selectedIndex = (((vm.selectedIndex-1)%length)+length)%length;

                        focusSelectedNode();
                    }

                    /**
                     * Everytime the selected node changes the new node needs focus so
                     * in case the new node is out of the visible bounds the view scrolls
                     * it back into them
                     */
                    function focusSelectedNode() {
                        let listItems = [].slice.call($element[0].querySelector('ul').children),
                            selectedListItem = listItems[vm.selectedIndex];

                        if (selectedListItem === undefined) {
                            return;
                        }

                        selectedListItem.querySelector('a').focus();
                    }

                }
            })
            
            ////////////////////////////////////////////////////////////////////////////////////
            //// #DETAIL VIEW
            ////////////////////////////////////////////////////////////////////////////////////

            app.component('detailView', {
                template: `
                    <div class="detailView"
                        ng-class="{'active': $ctrl.entry !== null}">

                        <h1>{{$ctrl.entry.title}}</h1>
                        <div class="markdown-body" ng-bind-html="$ctrl.entry.content | markdown | trustHtml"></div>
                    </div>
                `,
                bindings: {
                    entry: '<'
                },
                controller: function(){
                    let vm = this,
                        styles = `
                            .detailView { display: none; position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; background: #fff; }
                            .detailView.active { display: block; }
                            .detailView > h1 { padding: 30rem 30rem 0 30rem; }
                        `;

                    vm.$onInit = function(){
                        initStyles();
                        console.log('INIT DETAIL VIEW', vm.entry)
                    }

                    function initStyles() {
                        let styleElement = document.createElement('style');
                        styleElement.innerHTML = styles;
                        document.head.appendChild(styleElement);
                    }
                }
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #APP
            ////////////////////////////////////////////////////////////////////////////////////



            app.controller('AppCtrl', function ($scope, $element, win, nw) {
                
                initTrayIcon();

                registerGlobalShortcut();

                initExternalLinkHandler();

                /**
                 * Bring app to front when corresponding shortcut was pressed
                 */
                function registerGlobalShortcut() {
                    let option = {
                        key : "Ctrl+Shift+Space",
                    };

                    let shortcut = new nw.Shortcut(option);

                    nw.App.registerGlobalHotKey(shortcut);

                    shortcut.on('active', function() {
                        win.show();
                        NativeWindowService.applySize(600, 400);
                    });

                    shortcut.on('failed', function(msg) {
                      console.log('could not register shortcut"' + option.key + '". Reason: ' + msg);
                    });
                }

                /**
                 * Add a tray icon to the taskbar
                 */
                function initTrayIcon() {
                    let trayIcon = new nw.Tray({ title: 'Tray', icon: 'img/icon.png' });

                    trayIcon.on('click', function() {
                        win.show();
                    });

                    // As for now we use a timeout so this eventlistener is registered
                    // after the ones the components may register. This way we can take
                    // advantage of e.stopImmediatePropagation.
                    setTimeout(function(){
                        document.body.addEventListener('keydown', function(e) { 
                            if (e.key !== 'Escape') {
                                return;
                            }

                            win.hide();
                        });
                    }, 0);


                    let menu = new nw.Menu();
                    
                    let menuItemDevTools = new nw.MenuItem({ type: 'normal', label: 'show dev tools' });

                    menuItemDevTools.on('click', function() {
                        win.showDevTools();
                    });
                    
                    menu.append(menuItemDevTools);


                    let menuItemClose = new nw.MenuItem({ type: 'normal', label: 'close' });

                    menuItemClose.on('click', function() {
                        win.close();
                    });
                    
                    menu.append(menuItemClose);


                    trayIcon.menu = menu;
                }

                /**
                 * Open links in a new window
                 */
                function initExternalLinkHandler() {
                    document.body.addEventListener('click', function(e){
                        let target = e.target;

                        if (target.nodeName !== 'A') {
                            return
                        }

                        let isRemoteLink = target.href.substring(0,4) === 'http' || target.href.substring(0,2) === '//';

                        if (!isRemoteLink) {
                            return;
                        }

                        e.preventDefault();

                        nw.Window.open(target.href)
                    })
                }
            });

            ////////////////////////////////////////////////////////////////////////////////////
            //// #FEATURES
            ////////////////////////////////////////////////////////////////////////////////////

            class AbstractFeature {
                constructor(){
                    if (new.target === AbstractFeature) {
                        throw new TypeError("Cannot construct Abstract instances directly");
                    }

                    if (typeof this.canProcess !== 'function') {
                        throw new TypeError("Must override method 'canProcess'");
                    }

                    if (typeof this.process !== 'function') {
                        throw new TypeError("Must override method 'process'");
                    }
                }
            }

            let featurelist = [];

            /*
             * Feature: OpenInShell
             */
            (function(featurelist){
                const node_fs = require('fs');
                const node_os = require('os');
                const node_child_process = require('child_process');

                class FeatureOpenInShell extends AbstractFeature {
                    constructor(fullpath){
                        super();
                    }
                    canProcess(fullpath){
                        let nodeInfo;
                        try{
                            nodeInfo = node_fs.lstatSync(fullpath); // some files are not accessible since they are provided by the underlaying OS
                        }catch(err){
                            console.error(err, fullpath);
                            return false;
                        }

                        // we only want to open directories in a shell
                        if(!nodeInfo.isDirectory()){
                            console.info('You can not open other than directories in a shell');
                            return false;
                        }

                        let supported_os = ['win32', 'win64', 'darwin', 'linux'];

                        let platform = node_os.platform();

                        if(supported_os.indexOf(platform) === -1){
                            console.error('featureOpenInShell does not support platform '+platform);
                            return false;
                        }

                        // since we know we will be able to perform the action we can set the path now
                        this.directory = fullpath;
                        return true;
                    }
                    process(fullpath){
                        this.openInShell(fullpath);
                    }
                    openInShell(fullpath){
                        if(!this.canProcess(fullpath)) return;

                        let cmd, directory = this.directory, platform = node_os.platform();;

                        // escape directory
                        directory = directory.replace(/(["\s'$`\\])/g,'\\$1');

                        if (platform === 'win32' || platform === 'win64') { // WIN
                            cmd = "START cmd.exe /k cd " + directory;
                        } else if (platform === 'darwin') { // OSX
                            cmd = "open -a Terminal " + directory;
                        } else if (platform === 'linux') { // LINUX
                            cmd = "xterm -e 'cd " + directory+"'";
                        }

                        // invoke cmd
                        node_child_process.exec(cmd);
                    }
                };

                featurelist.push({cmd: 'shell', title: 'Open directory in shell', instance: new FeatureOpenInShell()});
            }(featurelist));

            function cmdOpenWorkspace() {
                const node_child_process = require('child_process');
                let cmd = "start c:\\Programme\\Git\\git-bash.exe";
                let foo = node_child_process.exec(cmd);
            }

            /*
             * Feature: OpenInFolder
             */
            (function(featurelist){
                const nw_gui = require('nw.gui');

                class FeatureOpenInFolder extends AbstractFeature {
                    constructor(){
                        super();
                    }
                    canProcess(fullpath){
                        return true;
                    }
                    process(fullpath){
                        this.openInFolder(fullpath);
                    }
                    openInFolder(fullpath){
                        nw_gui.Shell.showItemInFolder(fullpath);
                    }
                }

                featurelist.push({cmd: 'folder', title: 'Open in parent folder', instance: new FeatureOpenInFolder()});
            }(featurelist));

            ////////////////////////////////////////////////////////////////////////////////////
            //// #CONFIG & BOOTSTRAP
            ////////////////////////////////////////////////////////////////////////////////////

            angular.module('app').config(['featuresProvider', 'inputRouterProvider', 'dataSourceProvider', 'credentialsProvider', '$logProvider', function(featuresProvider, inputRouterProvider, dataSourceProvider, credentialsProvider, $logProvider) {

                // enable logs
                $logProvider.debugEnabled(true);

                // assign the path to the creds.json file
                credentialsProvider.path = 'creds.json';

                /*
                 * load all features
                 */
                for(let i = 0; i < featurelist.length; i++){
                    let feature = featurelist[i];
                    featuresProvider.registerFeature(feature);
                }

                /*
                 * register all routes
                 */

                /*
                // action route (invoke a feature by typing in the corresponging command e.g. :shell )
                inputRouterProvider.register(/^:(.*)$/, function(searchstring, directory, cache, matches, scope, features){
                    let cmd = matches[1];

                    if(features.featurelist[cmd] !== undefined){ // TODO: CMD will never be found cause it is not the featurename
                        features.featurelist[cmd].action(scope.directory_path);
                        scope.resetQueryString();
                    }
                    return null;
                });

                // change volume >d: | >c:
                inputRouterProvider.register(/^>(.*)$/, function(searchstring, directory, cache, matches, scope){
                    let event_set_path = new CustomEvent('app/path_change', {detail: {path: matches[1]}});
                    document.dispatchEvent(event_set_path);
                    return null;
                });

                // Search in cache
                inputRouterProvider.register(/^\?(.*)$/, function(searchstring, directory, cache, matches){
                    searchstring = matches[1];
                    let filtered = [];

                    for(let path in cache){
                        if (new RegExp('^.*'+searchstring+'[^\\\\]*$', 'i').test(path)) {
                            filtered.push(path);
                        }
                    }

                    return filtered;
                });
                */

                // Simple list filter that reduces the shown resultlist to items matching the searchstring entered by the user
                inputRouterProvider.register(/^.*$/, function(searchstring, haystack, cache, matches){
                    let filtered = [];

                    for (let i = 0; i < haystack.length; i++) {
                        let item = haystack[i];


                        if (new RegExp('^.*'+searchstring+'[^\\\\]*$', 'i').test(item.title)) {
                            filtered.push(item);
                        } else if (new RegExp('^.*'+searchstring+'[^\\\\]*$', 'i').test(item.tags)) {
                            filtered.push(item);
                        }
                    }

                    return filtered;
                });

                // configure datasource
                // .. pass in flag indicating dev-mode
            }]);

            angular.element(function() {
                angular.bootstrap(document, ['app']);
            });
        </script>
    </body>
</html>
